@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700&display=swap');

/*font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif;*/
@import "var","mixin";

* {
  margin: 0
}
/* -----------gallery----------*/
.gallery {
  background: #ffe92f;
  max-width: 100%;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}
/* -----------gallery__header----------*/
.header-gallery__heading {
  @include title(90px, $fontColorBlack, center);
  padding: 80px 0 0px 0;
  }

.header-gallery__text {
  @include text($fontColorBlack, center, 27px);
   max-width: 580px;
   margin: 0 auto 45px;
   margin: 20px auto 29px;
}

/* -----------gallery__main----------*/
.main-gallery {
  display: flex;
  flex-direction: column;
}
.main-gallery__row {
  display: flex;
  flex-direction: row;
}
.main-gallery__cell {
  margin: 15px;
  max-width: 100%;
}
.main-gallery__img--add-margin {
  margin-bottom: 30px;
}
/* -----------gallery__footer----------*/

.footer-gallery__btn {
  @include btn(#5585a2);
  margin: 15px 0 120px 0;
}


